<footer class="footer">
  <p>&copy; 2022 <a href="{{ abs-url "" }}">{{ site.title }}</a></p>
  <p>Powered by StarDust</p>
  <!-- <p>
    <a href="https://github.com/nanxiaobei/hugo-paper" rel="noopener" target="_blank">Paper 5.1</a>
  </p> -->
</footer>