<!DOCTYPE html>


<html lang="{{ site.lang }}">

  {{ > head }}

  <body class="not-ready" data-menu="{{ page.has_menu }}">

    {{ > header }}

    {{!-- <main class="main">{{> (lookup . 'main') }}</main> --}}
    <main class="main">
      {{ #if page.is_home }}
        <h1 class="main-title">StarDust</h1>
      {{ else }}
        {{ > single }}
      {{ /if }}
    </main>

    {{ > footer }}

  </body>
</html>
