<!DOCTYPE html>


<html lang="{{ site.lang }}">

  {{ > head }}

  <body class="not-ready" data-menu="{{ page.has_menu }}">

    {{ > header }}

    {{!-- <main class="main">{{> (lookup . 'main') }}</main> --}}
    <main class="main">
      {{ #if (eq page.kind "main") }}
        <h1 class="main-title">StarDust</h1>
      {{ else }}
        {{ #if (eq page.kind "post") }}
          {{ > single }}
        {{ else }}
          {{ > list }}
        {{ /if }}
      {{ /if }}
    </main>

    {{ > footer }}

  </body>
</html>
