<!-- Main Title -->
<h1 class="main-title">{{ list.title }}</h1>

<!-- $pages -->

<!-- Articles -->
{{ #each list.entries }}
<article class="post-entry">
  <h2>{{ title }}</h2>
  <time>{{ date }}</time>
  <a href="{{ abs-url "post" (as-path title) }}"></a>
</article>
{{ /each }}

<!-- Main Nav -->

